<nav class=" nav-wrapper yellow darken-2 text-darken-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center black-text" >Administración</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a >Login</a></li>
        <li><a materialize="sideNav" data-activates="slide-out">menú</a></li>
      
      </ul>
      <ul id="slide-out" class="side-nav fixed ">
          <li><div class="user-view">
              <!--<div class="background">
              <img src="../assets/images/construccion.jpg"  class="  responsive-img">
            </div>-->
            <a href="#!user"><img class="circle " src="../assets/images/yuna.png" ></a>
            <a ><span class="black-text name">Yuna rodriguez</span></a>
            <a href="#!email"><span class="black-text email">Administradora</span></a>
          </div></li>
          
          <li><div class="divider"></div></li>
   

          <li class="padding">
              <ul class="collapsible collapsible-accordion">
                  <li>
                      <a class="collapsible-header">Solicitudes<i class="material-icons">announcement</i></a>
                      <div class="collapsible-body">
                        <ul>
                
                          <li><a href="#!"> <i class="material-icons">add</i>Regisrar solicitud</a></li>
                          <li><a href="#!"><i class="material-icons">search</i>Buscar solicitud</a></li>
                        </ul>
                      </div>
                    </li>
                    <li>
                        <a class="collapsible-header">Servicios contratados<i class="material-icons">build</i></a>
                        <div class="collapsible-body">
                          <ul>
                            <li><a href="#!"> <i class="material-icons">add</i>Regisrar servicio</a></li>
                            <li><a href="#!"><i class="material-icons">search</i>Buscar servicio</a></li>
                          </ul>
                        </div>
                      </li>
                <li>
                  <a class="collapsible-header">Clientes<i class="material-icons">person</i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="#!"> <i class="material-icons">add</i>Registrar cliente</a></li>
                      <li><a href="#!"><i class="material-icons">search</i>Buscar cliente</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                    <a class="collapsible-header">Trabajadores<i class="material-icons">person_pin_circle</i></a>
                    <div class="collapsible-body">
                      <ul>
                        <li><a href="#!"> <i class="material-icons">add</i>Regisrar trabajador</a></li>
                        <li><a href="#!"><i class="material-icons">search</i>Buscar trabajador</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                      <a class="collapsible-header">Opciones<i class="material-icons">settings</i></a>
                      <div class="collapsible-body">
                        <ul>
                            <li><a class="waves-effect"> <i class="material-icons">warning</i>Reportar fallo</a></li>
                          <li><a class="waves-effect"> <i class="material-icons">exit_to_app</i>Cerrar sesión</a></li>
                        </ul>
                      </div>
                    </li>
              </ul>
            </li>
            
        </ul>
   
        
        
    </div>
    
  </nav>